@import '../../../main/imports';
.wwn-main-menu {
    @media #{$mobile} {
        @include full-screen;
        z-index: -1;
        background-color: $bg-backdrop-hidden;
        transition: background-color 0.3s ease, z-index 0s ease 0.3s;
        will-change: background-color;
        &.expanded {
            z-index: 100;
            background-color: $bg-backdrop;
            transition: background-color 0.3s ease;
        }
        &-nav {
            @include box-shadow-dark;
            position: relative;
            width: 80%;
            height: 100%;
            background-color: $bg-nav;
            transform: translateX(-101%);
            transition: transform 0.3s ease-in-out;
            &.expanded {
                transform: translateX(0);
            }
            li {
                border-bottom: 1px solid $border-default;
            }
            .wwn-brand-logo {
                position: relative;
                height: auto;
            }
        }
    }
}